# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ^(docs/|coco/private/known_shas\.bzl$)
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: ^(docs/|coco/private/known_shas\.bzl$)
  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 8.2.1
    hooks:
      - id: buildifier
        args: &args
          - --warnings=all
        exclude: ^coco/private/known_shas\.bzl$
      - id: buildifier-lint
        args: *args
        exclude: ^coco/private/known_shas\.bzl$
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.2.1
    hooks:
      - id: commitizen
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        exclude: ^(docs/|renovate\.json$)
        types_or:
          - markdown
          - yaml
          - json
  - repo: https://github.com/crate-ci/typos
    rev: v1.39.2
    hooks:
      - id: typos
