name: Update Digests
on:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Digests
        run: "python3 tools/update_digests.py"
      - name: "Create Pull Request"
        run: |
          git checkout -b 'chore/update-digests-${{github.run_number}}-${{github.run_attempt}}'
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add coco/private/known_shas.bzl
          git commit --message 'build: update digests'
          git push --set-upstream origin HEAD
          gh pr create --base develop --title 'build: update digests' --body 'Created by Github action'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
